const PluginDir = "/usr/lib/nagios/plugins"
const ManubulonPluginDir = "/usr/lib/nagios/plugins"
const PluginContribDir = "/usr/lib/nagios/plugins"
const PluginCustomDir = "{{ icinga2_plugin_custom_dir }}"
const ZoneName = NodeName
