object HostGroup "ssh-servers" {
  display_name = "SSH servers"
}

object HostGroup "debian-servers" {
  display_name = "Debian servers"
}

object HostGroup "apache-servers" {
  display_name = "Apache servers"
}

object HostGroup "mysql-servers" {
  display_name = "MySQL/MariaDB servers"
}

object HostGroup "private-servers" {
  display_name = "Private servers"
}

object HostGroup "apc-servers" {
  display_name = "APC servers"
}

object HostGroup "tomcat-servers" {
  display_name = "Tomcat servers"
}

object HostGroup "tomcat-conc-mark-sweep-gc" {
  display_name = "Tomcat conc mark sweep gc servers"
}

object HostGroup "tomcat-parallel-gc" {
  display_name = "Tomcat parallel gc servers"
}

object HostGroup "drupal-sites" {
  display_name = "Drupal servers"
}
