apply Service "kirjastokaista.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_vhost = "www.kirjastokaista.fi"
  vars.http_uri = "/wp/wp-login.php"
  assign where host.name == "kirjastokaista.fi"
}

apply Service "ekirjasto.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/auth/signin"
  vars.http_vhost = "ekirjasto.kirjastot.fi"
  assign where host.name == "ekirjasto.kirjastot.fi"
}

apply Service "kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/?page=1"
  vars.http_vhost = "www.kirjastot.fi"
  assign where host.name == "kirjastot.fi"
}

apply Service "api.kirjastot.fi v1 HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/v1/organisation/goQMRZg5TEOmxx1cibj--A?scope=hours&start=now&fullweeks&format=json"
  vars.http_vhost = "api.kirjastot.fi"
  vars.http_address = "api.kirjastot.fi"
  vars.http_ssl = true
  vars.http_expect = "200"
  assign where host.name == "hakemisto.kirjastot.fi"
}

apply Service "api.kirjastot.fi v2 HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/v2/libraries/goQMRZg5TEOmxx1cibj--A?format=json"
  vars.http_vhost = "api.kirjastot.fi"
  vars.http_address = "api.kirjastot.fi"
  vars.http_ssl = true
  vars.http_expect = "200"
  assign where host.name == "hakemisto.kirjastot.fi"
}

apply Service "api.kirjastot.fi v3 HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/v3/city?name=Helsinki"
  vars.http_vhost = "api.kirjastot.fi"
  vars.http_address = "api.kirjastot.fi"
  vars.http_ssl = true
  vars.http_expect = "200"
  assign where host.name == "hakemisto.kirjastot.fi"
}

apply Service "api.kirjastot.fi v4 HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/v3/city?name=Helsinki"
  vars.http_vhost = "api.kirjastot.fi"
  vars.http_address = "api.kirjastot.fi"
  vars.http_ssl = true
  vars.http_expect = "200"
  assign where host.name == "hakemisto.kirjastot.fi"
}

apply Service "hakemisto.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/helsinki/pasila"
  vars.http_vhost = "hakemisto.kirjastot.fi"
  vars.http_address = "hakemisto.kirjastot.fi"
  vars.http_ssl = true
  vars.http_expect = "200"
  assign where host.name == "hakemisto.kirjastot.fi"
}

apply Service "kirkanta.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/login"
  vars.http_vhost = "kirkanta.kirjastot.fi"
  vars.http_address = "kirkanta.kirjastot.fi"
  vars.http_ssl = true
  vars.http_expect = "200"
  assign where host.name == "hakemisto.kirjastot.fi"
}

apply Service "makupalat.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/?page=1"
  vars.http_vhost = "www.makupalat.fi"
  assign where host.name == "makupalat.fi"
}

apply Service "kirjasampo.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/?page=1"
  vars.http_vhost = "www.kirjasampo.fi"
  assign where host.name == "frontend.kirjasampo.fi"
}

apply Service "saha.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/saha/project/index.shtml?model=kirjasampo"
  vars.http_vhost = "saha.kirjastot.fi"
  assign where host.name == "saha.kirjastot.fi"
}

apply Service "projektit.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "projektit.kirjastot.fi"
  assign where host.name == "projektit.kirjastot.fi"
}

apply Service "digi.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "digi.kirjastot.fi"
  assign where host.name == "digi.kirjastot.fi"
}

apply Service "tilastot.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "tilastot.kirjastot.fi"
  assign where host.name == "tilastot.kirjastot.fi"
}

apply Service "musiikkikirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "www.musiikkikirjastot.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "kyselyt.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "kyselyt.kirjastot.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "okariino.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "www.okariino.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "blogit.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "blogit.kirjastot.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "kiravo.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "kiravo.kirjastot.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "kiravoprojekti.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "kiravoprojekti.kirjastot.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "now.libraries.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "now.libraries.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "sustainability.libraries.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "sustainability.libraries.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "vaikuttavuus.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "vaikuttavuus.kirjastot.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "visualisointi.kirjastot.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "visualisointi.kirjastot.fi"
  assign where host.name == "smallsites.kirjastot.fi"
}

apply Service "biblioteken.fi HTTP" {
  import "generic-service"
  check_command = "http"
  vars.http_uri = "/"
  vars.http_vhost = "www.biblioteken.fi"
  assign where host.name == "biblioteken.fi"
}
