library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user = "{{ icinga2_db.user }}",
  password = "{{ icinga2_db.password }}",
  host = "localhost",
  database = "{{ icinga2_db.name }}"
}
