object User "{{ icinga2_admin_username }}" {
  display_name = "{{ icinga2_admin_username }}"
  groups = [ "admins" ]
}

{% for user in icinga2_users %}
object User "{{ user.username }}" {
  display_name = "{{ user.username }}"
  email = "{{ user.email }}"
  groups = [ "admins" ]
}

{% endfor %}
object UserGroup "admins" {
  display_name = "Admin Group"
}
